:root {
    --primary-color: #222831;
    --second-color: #2D4059;
    --third-color: #FF5722;
    --text-color: #EEEEEE;
}

.main {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--second-color);
    color: var(--text-color);
}

.container {
    display: flex;
    width: 100%;
}